* {
    box-sizing: border-box;
    /* display: flexbox; */
    scroll-behavior:smooth;
    scroll-padding-top: 88px;
    
}


body {
    background-color: #0a192f;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-family: 'Roboto Mono', monospace;
}


.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0rem .5rem .5rem .5rem ; */
    margin: auto;
    padding-top: .5rem;
    z-index: 1;
    background-color: #0a192f;
    opacity: 0.6;
    width: 100%;
    max-width: 490px;
    
}


#logo img {
    width: 3em;
    margin-left: 5px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #64FFDA;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 600;
    color: #010f22;
}

.nav-link:hover{
    color: #07f1e6;
} 

.nav-menu {
    position: fixed;
    left: 101%;
    top: 5rem;
    flex-direction:column;
    background-color: #c8f1f1;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}


.nav-menu.expanded {
    left: 0;
    transition: 0.5s;
}

/* .nav-menu.active {
    left: 0;
} */

.nav-item {
    margin: 1.2rem 0;
}

/* .hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}  */

.containers {
    /* border: 5px solid rgb(227, 238, 241); */
    max-width: 500px;
    width: 100%;
    max-height: auto;
    height: 500px;
    margin: 20px 0px 20px 0px;
    position: relative;
    top: 16px;
    color: #CCD6F6;
    margin: auto;
    margin-top: 60px;
}

button {
    /* position: absolute; */
    font-weight: bolder;
    background-color: #64ffda;
    border-color: rgb(38, 194, 168);
    border-radius: 6px;
    /* margin-top: 200px; */
    height: 50px;
    padding: 3px 30px 3px 30px;
    transition: .5s;
}

button:hover {
    color: rgb(38, 194, 168);
    border: 2px solid rgb(38, 194, 168);
    background-color: transparent;
    cursor: pointer;
}

#contactMe {
    margin-top: 18em;
}

#contactMe >div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#contactMe h3, #contactMe h1 {
    text-align: center;
}
  
form {
    display: flex;
    flex-direction: column;
}

input, textarea{
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
    margin: .3rem;
}

#contactMe a  button {
    width: 348px;
    max-width: 100%;
}

/* #contact button {
    background-color: #F26419;
    color: white;
    padding: .7rem;
    font-weight: bold;
    cursor: pointer;
} */

#hero > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 1.5;
    margin: 40px 10px 10px 20px;
}

#hero h1 {
    font-size: 2.5rem;
}

#hero p {
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 2;
}

#aboutMe > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: justify;
    line-height: 1.5;
    margin: 40px 10px 10px 20px;
}

#aboutMe h1 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

#aboutMe p {
    text-indent: 25px;
    margin-bottom: 10px;
}

#aboutMe img {
    margin-left: 140px;
    height: 200px;
    border-radius: 20px;
    
    --g: 4px;     /* the gap */
    --b: 12px;    /* border thickness*/
    --c: #66FFDA; /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    /* cursor: pointer; */
    filter: grayscale(70%);
    transition: .3s;
}    

#aboutMe img:hover {
    --_p: 75%;
    filter: grayscale(0%);
}

#workHistory > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: justify;
    line-height: 1.5;
    margin-top: 18em;
    /* margin: 40px 10px 10px 20px; */
}

#workHistory h1 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

#workHistory p {
    text-indent: 25px;
    margin-bottom: 10px;
}

#workHistory img {
    height: 250px;
}

#projects h1{
    margin-top: 11em;
}

#projects > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
}

#projects img{
    height: 11em;
    width: 11em;
    margin-top: 20px;

    --color: #66FFDA; /* the border color */
    --border: 3px;   /* the border thickness*/
    --offset: 15px;   /* control the offset*/
    --gap: 1px;       /* the gap on hover */
    
    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
    --_o: calc(3*var(--offset));
    padding: 
        calc(var(--gap) + var(--border))
        calc(var(--gap) + var(--border) + var(--offset))
        calc(var(--gap) + var(--border) + var(--offset))
        calc(var(--gap) + var(--border));
    background: 
        linear-gradient(      var(--_c)) var(--_o) var(--_o), 
        linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
    background-repeat: no-repeat;
    filter: grayscale(.4);
    transition: .5s;
    cursor: pointer;
}

#projects img:hover {
    background-position: 0px 0px;
    background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
    filter: grayscale(0);
  }

.right-side {
    display: none;
}

.left-side {
    display: none;
}

footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div > nav > a {
    margin: .5em;
}

.footer2 {
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.footer2 > nav > a {
    color: #0a886a;
}

.copyright {
    font-size: .7rem;
    color: #64ffda;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}


/* TODO: GAWIN MO NANG RESPONSIVE!!!! */

@media screen and (min-width: 600px) {
    
    .header {
        margin: 0;
        max-width: 100%;
    }

    .hamburger {
        display: none;
    } 

    #logo img {
        margin-left: 19.5px;
    }

    .nav-menu {  
        position: sticky;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 30%;
        top: 0rem;
        flex-direction: row;
        background-color: inherit;
        padding: 5px 5px 0px 20px;
        max-width: 100%;
        border-radius: none;
        transition: none;
        box-shadow: none;
        margin: auto;
    }

    .nav-menu li {
        padding: 10px 2px;
        margin: 0px 10px;
    }

    .nav-link{
        font-size: 1.2rem;
        font-weight: 600;
        color: #CCD6F6;
    }
    
    .nav-item {
        margin: 0 0;
        padding: 0;
        display: inline-block;
        position: relative;
        color: #64FFDA;
    }

    .nav-item:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #64FFDA;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .nav-item:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    #logo a {
        position: relative; 
        display: block;
        width: 53px;
        height: 55px;
        text-align: center;
        line-height: 50px;
        background: transparent;
        border-radius: 8%;
        color: #64FFDA;
        transition: .5s;
    }

    #logo a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 16px;
        width: 100%;
        height: 100%;
        border-radius: 10%;
        background: #64FFDA;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
    }

    #logo a:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #64FFDA;
    }

    .right-side {
        display: flex;
        position: fixed;
        padding: 5px;
        height: 300px;
        right: 10px;
        top: 310px;
    }

    .right-side li {
        margin:0 0 30px 0;
    }


    .right-side ul li a {
        position: relative; 
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 49px;
        background: #0a192f;
        border-radius: 100%;
        color: #64FFDA;
        transition: .5s;
    }

    .right-side ul li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #64FFDA;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
    }

    .right-side ul li a:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #64FFDA;
    }

    


    .left-side {
        display: block;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        position: fixed;
        padding: 20px;
        height: 300px;
        left: 10px;
        top: 190px;
    }
    
    .left-side p {
        color: #CCD6F6;
    }

    .containers {
        /* border: 5px solid rgb(227, 238, 241); */
        max-width: 700px;
        position: relative;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    #hero{
        right: 120px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #aboutMe {
        left: 150px;
        margin-top: 0px;
        padding-top: 0px;
    }

    #aboutMe img {
        margin-left: 410px;
        height: 250px;
    }

    #workHistory {
        
        right: 105px;
    }

    #workHistory img {
        transition: transform .2s; /* Animation */
        margin-left: 250px;
        max-height: 100%;
        height: 250px;
    }

    #workHistory img:hover {
        transform: scale(1.5);
    }

    #projects {
        margin-top: 80px;
        left: 150px;
    }

    #projects > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    #projects img {
        height: 15em;
        width: 20em;
        margin: 0px 10px;
    }

    #mp1 img{
        height: 20em;
        width: 35em;
        margin: 0px 10px;
    }

    #contactMe {
        margin-top: 300px;
    }

    
    footer {
        display: none;
    }

    /* TODO: lagay footer sa desktop view */
}